<h1 class="page-title">Invoices</h1>
<div class="table-responsive">
<table class="styled-table">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Company</th>
      <th>Check</th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.company&.name || "N/A" %></td>
        <td><%= invoice.checks.any? ? invoice.checks.map(&:number).join(", ") : "N/A" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>