<h1 class="page-title">Companies</h1>
<div class="table-responsive">
<table class="styled-table">
  <thead>
    <tr>
      <th>Company Name</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
